\<% 
	var page_title = APP_NAME + ${Pag.getLang("管理平台", false)};layout("/WEB-INF/beetl/layout.html",{page_title: page_title}) {
 %>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<form class="form-horizontal">
				<div class="control-group">
					 <label class="control-label" for="inputEmail">${Pag.getLang("用户名")}</label>
					<div class="controls">
						<input id="inputEmail" placeholder="Email" type="text" />
					</div>
				</div>
				<div class="control-group">
					 <label class="control-label" for="inputPassword">${Pag.getLang("密码")}</label>
					<div class="controls">
						<input id="inputPassword" placeholder="Password" type="password" />
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						 <label class="checkbox"><input type="checkbox" /><span style="text-align: right;">${Pag.getLang("记住登录")}</span></label> <button type="submit" class="btn">${Pag.getLang("登录")}</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
\<% 
	}
 %>